body {
  padding-top: 0;
  margin-top: 0;
}
h1 {
  padding-top: 0;
  margin-top: 0;
  background-color: black;
  color: white;
  text-align: center;
}

#primarybtn {
  margin-top: 25px;
  background-color: teal;
  color:white;
}

form {
  text-align: center;
}

.output {
  margin-top: 25px;
  text-align: center;
}
